// Colors of project

// Brand Colors
$primary-normal: #82269E;
$primary-light: #9C4FB4;
$primary-dark: #701F88;

$secondary-normal: #A950C4;
$secondary-light: #BB71D4;
$secondary-dark: #9142A8;

// Neutral-colors
$black-normal: #232224;
$black-light: #353436;
$black-dark: #161617;

$white-normal: #EDEAEF;
$white-light: #F7F2FA;
$white-dark: #B9B8BA;

// Gray Scale
$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868586;
$gray-6: #969597;
$gray-7: #a6a6a7;

// Auxiliary colors
$red-normal: #eb3d3d;
$red-light: #f05454;
$red-dark: #d03333;

$green-normal: #32d957;
$green-light: #50e170;
$green-dark: #28bb49;

$yellow-normal: #ffce52;
$yellow-light: #ffd76b;
$yellow-dark: #d9b043;

// Gradients
$gradient-normal: linear-gradient(220.94deg,$secondary-normal 14.43%, $primary-normal 85.28%);

// Shadows
$shadow-normal: 0px 2.76726px 2.21381px 0px rgba(156, 79, 180, 0.02), 0px 6.6501px 5.32008px 0px rgba(156, 79, 180, 0.03), 0px 12.52155px 10.01724px 0px rgba(156, 79, 180, 0.04), 0px 22.33631px 17.86905px 0px rgba(156, 79, 180, 0.04), 0px 41.77761px 33.42209px 0px rgba(156, 79, 180, 0.05);
$shadow-button: 0px 4px 10px 0px rgba(169, 80, 196, 0.50);
$shadow-hover:  0px 4px 14px 2px rgba(169, 80, 196, 0.80);

.color-white{
  color: $white-light;
}